._5b_i{
	padding: 50px 0px !important;
}
	
._5b_h .tile{
	background-color: rgba(0, 128, 0, 0.7);;
	-webkit-border-radius: 7px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	display: inline-block;
	height: 70px;
	width: 70px;
	color: white;
	margin: 3px;
}
._5b_h .tile div{
	vertical-align: middle;
	display: table-cell;
	height: 70px;
	width: 64px;
	padding: 0px 3px;
}
._5b_h h1{
	margin-bottom: 7px;
}